<div class="modal" [ngClass]="openMeal === true ? 'open' : ''">
  <div class="shade" (click)="close()"></div>
  <div class="modal_container">
    <div class="close" (click)="close()"></div>
    <div class="title">{{title}}</div>
    <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
      <div class="line">
        <label for="foodType">Food type</label>
        <input id="foodType" type="text" formControlName="title" placeholder="Meal title">
        <div *ngIf="controlsGetter('title').value === '' && (controlsGetter('title').touched === true && controlsGetter('title').dirty === true)">
          Please Fill Title field
        </div>
      </div>
      <div class="line">
          <label for="mealType">Food type</label>
          <select id="mealType" formControlName="type">
            <option value="Breakfast">Breakfast</option>
            <option value="SmallBite">SmallBite</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
          </select>
      </div>
      <div class="line row">
        <div class="content">
        <div class="line_block">
          <label for="time">Time:</label>
          <select id="time" formControlName="time">
            <option *ngFor = 'let markNames of hourMarks' value="{{markNames}}">{{markNames}}</option>
          </select>
        </div>
        <div class="line_block">
          <label for="day">Day</label>
          <select formControlName="day" id="day">
            <option *ngFor ='let dayValue of days' value="{{dayValue}}">{{dayValue}}</option>
          </select>
        </div>
        </div>
      </div>
      <div class="line">
        <label for="calValue">Calorie Value:</label>
        <input type="number" id="calValue" formControlName="calValue">
        <div *ngIf="controlsGetter('calValue').value === null && (controlsGetter('calValue').touched === true && controlsGetter('calValue').dirty === true)">
          Please Fill Calorie Value field
        </div>
      </div>
      <div class="line">
        <label for="carbs">Carbs Value:</label>
        <input type="number" id="carbs" formControlName="carbs">
        <div *ngIf="controlsGetter('carbs').value === null && (controlsGetter('carbs').touched === true && controlsGetter('carbs').dirty === true)">
          Please Fill Carbs field
        </div>
      </div>
      <div class="line">
        <label for="fats">Fats Value:</label>
        <input type="number" id="fats" formControlName="fats">
        <div *ngIf="controlsGetter('fats').value === null && (controlsGetter('fats').touched === true && controlsGetter('fats').dirty === true)">
          Please Fill Carbs field
        </div>
      </div>
      <div class="line">
        <label for="proteins">Proteins Value:</label>
        <input type="number" id="proteins" formControlName="proteins">
        <div *ngIf="controlsGetter('proteins').value === null && (controlsGetter('proteins').touched === true && controlsGetter('proteins').dirty === true)">
          Please Fill Proteins field
        </div>
      </div>
      <input type="submit" class="button" value="Add Meal">
    </form>
    <div class="errorMsg" *ngIf="error === true">Fill all Fields please</div>
  </div>
</div>
