<div class="modal" [ngClass]="openMeal === true ? 'open' : ''">
  <div class="shade" (click)="close()"></div>
  <div class="modal_container">
    <div class="close" (click)="close()"></div>
    <div class="title">{{title}}</div>
    <form [formGroup]="mealForm">
      <div class="line">
        <label for="foodType">Food title *</label>
        <input [ngClass]="meals.title.invalid && meals.title.dirty || meals.title.invalid && isSubmitted ? 'error':''" id="foodType" type="text" formControlName="title" placeholder="Meal title">
        <div *ngIf='meals.title.touched || isSubmitted' class="errorBlock">
          <div *ngIf="meals.title.invalid">
            Please Fill Title field
          </div>
        </div>
      </div>
      <div class="line">
          <label for="mealType">Food type</label>
          <select id="mealType" formControlName="type">
            <option value="Breakfast">Breakfast</option>
            <option value="SmallBite">SmallBite</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
          </select>
      </div>
      <div class="line row">
        <div class="content">
        <div class="line_block">
          <label for="time">Time:</label>
          <select id="time" formControlName="time">
            <option *ngFor = 'let markNames of hourMarks' value="{{markNames}}">{{markNames}}</option>
          </select>
        </div>
        <div class="line_block">
          <label for="day">Day</label>
          <select formControlName="day" id="day">
            <option *ngFor ='let dayValue of days' value="{{dayValue}}">{{dayValue}}</option>
          </select>
        </div>
        </div>
      </div>
      <div class="line">
        <label for="calValue">Calorie Value *</label>
        <input [ngClass]="meals.calValue.invalid && meals.calValue.dirty || meals.calValue.invalid && isSubmitted ? 'error':''"  type="number" id="calValue" formControlName="calValue">
        <div *ngIf="meals.calValue.dirty || isSubmitted" class="errorBlock">
          <div *ngIf="meals.calValue.invalid">
            Please Fill Calorie Value field
          </div>
        </div>
      </div>
      <div class="line">
        <label for="carbs">Carbs Value:</label>
        <input [ngClass]="meals.carbs.invalid && meals.carbs.dirty || meals.carbs.invalid && isSubmitted ? 'error':''" type="number" id="carbs" formControlName="carbs">
        <div *ngIf="meals.carbs.dirty || isSubmitted" class="errorBlock">
          <div *ngIf="meals.carbs.invalid">
            Please Fill Carbs field
          </div>
        </div>
      </div>
      <div class="line">
        <label for="fats">Fats Value *</label>
        <input [ngClass]="meals.fats.invalid && meals.fats.dirty || meals.fats.invalid && isSubmitted ? 'error':''" type="number" id="fats" formControlName="fats">
        <div *ngIf="(meals.fats.dirty || isSubmitted)" class="errorBlock">
          <div *ngIf="meals.fats.invalid">
          Please Fill Carbs field
        </div>
      </div>
      </div>
      <div class="line">
        <label for="proteins">Proteins Value *</label>
        <input [ngClass]="meals.proteins.invalid && meals.proteins.dirty || meals.proteins.invalid && isSubmitted ? 'error':''" type="number" id="proteins" formControlName="proteins">
        <div class='errorBlock' *ngIf="meals.proteins.dirty || isSubmitted">
          <div *ngIf="meals.proteins.invalid">
          Please Fill Proteins field
        </div>
      </div>
      </div>
        <input [ngClass]="!mealForm.valid? 'error_button': '' " type="button" class="button" (click)="onSubmit()" value="Add Meal">
    </form>
  </div>
</div>
