<div class="modal" [ngClass]="openView === true ? 'open' : ''">
  <div class="shade" (click)="closeThisView()"></div>
  <div class="modal_container">
    <div class="close" (click)="closeThisView()"></div>
    <div class="with_mark" *ngIf="targetMark.meal;else dummy">
    <div class="title">{{targetMark.meal?.type}}</div>
    <div class="view_line">
      <div class="blockName">Title:</div>
      {{targetMark.meal?.title}}
    </div>
      <div class="view_line row">
        <div class="view_block">
          <div class="blockName">Time:</div>
          {{targetMark.meal?.time}}
        </div>
        <div class="view_block">
          <div class="blockName">Day:</div>
          {{targetMark.meal?.day}}
        </div>
      </div>
      <div class="view_line">
        <div class="blockName">Calorie Value:</div>
        <span [ngClass]="
             targetMark.meal?.calValue! > user.userMaxCal! ? 'red':
             targetMark.meal?.calValue! < user.userMinCal! ? 'yellow' : 'green'">{{targetMark.meal?.calValue}}</span>
      </div>
      <div class="view_line">
        <div class="blockName">
          Proteins Value:
        </div>
        <span [ngClass]="
             targetMark.meal?.proteins! > user.userProteins! ? 'red':
             targetMark.meal?.proteins! < user.userProteins! ? 'yellow' : 'green'">{{targetMark.meal?.proteins}}</span>
      </div>
      <div class="view_line">
        <div class="blockName">
          Carbs Value:
        </div>
        <span [ngClass]="
             targetMark.meal?.carbs! > user.userCarbs! ? 'red':
             targetMark.meal?.carbs! < user.userCarbs! ? 'yellow' : 'green'">{{targetMark.meal?.carbs}}</span>
      </div>
      <div class="view_line">
        <div class="blockName">
          Fats Value:
        </div>
        <span [ngClass]="
             targetMark.meal?.fats! > user.userFats! ? 'red':
             targetMark.meal?.fats! < user.userFats! ? 'yellow' : 'green'"> {{targetMark.meal?.fats}}</span>
      </div>
  </div>
    <ng-template #dummy>
      <div class="dummy">
        <div class="view_line empty">No meals yet</div>
      </div>
    </ng-template>
  </div>
</div>
