<div class="calendar_block">
  <div class="header">
    <div class="dayMarks">
      <div *ngFor="let mark of hourMarks" class="markNames">{{mark}}</div>
    </div>
    <div (click)="open()" class="changeUser"></div>
  </div>
  <div class="day" *ngFor ='let day of currentWeek; let i = index'>

    <div class="dayName">{{day.name}}
      <div *ngIf="day.calPerDay" class="calorieCount">{{day.calPerDay}}</div></div>
      <div class="marks">
        <div (click)="getDay(i, j);" [ngClass]="mark.meal? 'active':''" class="hourMark" *ngFor="let mark of day.hourMarks; let j = index">
          <div *ngIf="mark.meal" class="meal">
            <div class="mealType">{{mark.meal.type}}</div>
            <div class="mealName">{{mark.meal.title}}</div>
            <div class="mealCal">{{mark.meal.calValue}}</div>
          </div>
        </div>
      </div>
  </div>
  <div class="addMeal" (click)="openMeal()"></div>
</div>

<app-meal-form *ngIf ='openMealModal' [openMeal] = 'openMealModal' (closeMeal)="openMeal()"></app-meal-form>
