<div class="modal" [ngClass]="open === true ? 'open' : ''">
  <div class="shade" (click)="closeThisModal()"></div>
  <div class="modal_container">
    <div class="close" (click)="closeThisModal()"></div>
    <div class="title">{{formTitle}}</div>
    <form [formGroup]="userForm" class="form_block"  (ngSubmit)="onSubmit()">
      <div class="line row">
        <div class="line_name">User Gender</div>
        <div class="content">
          <div class="line_block">
            <label for="male">Male</label>
            <input formControlName="userGender" id="male" name="userGender" value="male" type="radio">
          </div>
          <div class="line_block">
            <label for="female">Female</label>
            <input formControlName="userGender" id="female" name="userGender" value="female" type="radio">
          </div>
        </div>
      </div>
      <div class="line">
        <label for="height">Height</label>
        <input id='height' max = '250' formControlName="userHeight" type="number" name='userHeight' placeholder="Your height">
        <div *ngIf="controlsGetter('userHeight').value === null && (controlsGetter('userHeight').touched === true && controlsGetter('userHeight').dirty === true)">
          Please Fill User Height field
        </div>
        <div *ngIf="controlsGetter('userHeight').value > 250">Max Height value is 250</div>
      </div>
      <div class="line">
        <label for="weight">Weight</label>
        <input required max="250" id='weight' formControlName="userWeight" Name="userWeight" type="number" name="userWeight" placeholder="Your weight">
        <div *ngIf="controlsGetter('userWeight').value === null && (controlsGetter('userWeight').touched === true && controlsGetter('userWeight').dirty === true)">Please Fill User Weight field</div>
        <div *ngIf="controlsGetter('userWeight').value > 250">Max Weight value is 250</div>
      </div>
      <div class="line row">
        <div class="content">
          <div class="line_block">
            <label for="minCal">Min Cal</label>
            <input id='minCal'  required max="4000" formControlName="userMinCal" type="number" name="minCal" placeholder="MinCal">
            <div *ngIf="controlsGetter('userMinCal').value === null && (controlsGetter('userMinCal').touched === true && controlsGetter('userMinCal').dirty === true)">Please Fill User Minimum Calories field</div>
            <div *ngIf="controlsGetter('userMinCal').value > controlsGetter('userMaxCal').value">
              Minimal calories can not be higher than maximal value
            </div>
          </div>
          <div class="line_block">
            <label for="maxCal">Max Cal</label>
            <input id='maxCal' required max="4000" formControlName="userMaxCal" type="number" name="maxCal" placeholder="MaxCal">
            <div *ngIf="controlsGetter('userMaxCal').value === null && (controlsGetter('userMaxCal').touched === true && controlsGetter('userMaxCal').dirty === true)">Please Fill User Minimum Calories field</div>
            <div *ngIf="controlsGetter('userMaxCal').value < controlsGetter('userMinCal').value">
              Maximal calories can not be lower than minimal value
            </div>
          </div>
        </div>
      </div>
      <div class="button_block">
        <input type="submit" class="button" value="{{buttonText}}">
      </div>
      <div *ngIf="error === true" class="error_block">Fill All Fields Please</div>
    </form>
  </div>
</div>



