<div class="modal" [ngClass]="open === true ? 'open' : ''">
  <div class="shade" (click)="closeThisModal()"></div>
  <div class="modal_container">
    <div class="close" (click)="closeThisModal()"></div>
    <div class="title">{{formTitle}}</div>
    <form [formGroup]="userForm" class="form_block"  (ngSubmit)="onSubmit()">
      <div class="line row">
        <div class="line_name">User Gender</div>
        <div class="content">
          <div class="line_block">
            <label for="male">Male</label>
            <input formControlName="userGender" id="male" name="userGender" value="male" type="radio">
          </div>
          <div class="line_block">
            <label for="female">Female</label>
            <input formControlName="userGender" id="female" name="userGender" value="female" type="radio">
          </div>
        </div>
      </div>
      <div class="line">
        <label for="height">Height</label>
        <input [ngClass]="this.userForm.controls.userHeight.status === 'INVALID' && this.userForm.controls.userHeight.dirty === true ? 'error': '' " required  id='height' max = '350' formControlName="userHeight" type="number" name='userHeight' placeholder="Your height">
      </div>
      <div class="line">
        <label for="weight">Weight</label>
        <input [ngClass]="this.userForm.controls.userWeight.status === 'INVALID' && this.userForm.controls.userWeight.dirty === true ? 'error': '' "  required max="250" id='weight' formControlName="userWeight" Name="userWeight" type="number" name="userWeight" placeholder="Your weight">
      </div>
      <div class="line row">
        <div class="content">
          <div class="line_block">
            <label for="minCal">Min Cal</label>
            <input id='minCal' [ngClass]="this.userForm.controls.userMinCal.status === 'INVALID' && this.userForm.controls.userMinCal.dirty === true ? 'error': '' "  required max="9999" formControlName="userMinCal" type="number" name="minCal" placeholder="MinCal">
          </div>
          <div class="line_block">
            <label for="maxCal">Max Cal</label>
            <input id='maxCal' [ngClass]="this.userForm.controls.userMaxCal.status === 'INVALID' && this.userForm.controls.userMaxCal.dirty === true ? 'error': '' " required max="9999" formControlName="userMaxCal" type="number" name="maxCal" placeholder="MaxCal">
          </div>
        </div>
      </div>
      <div class="button_block">
        <input type="submit" class="button" value="{{buttonText}}">
      </div>
      <div *ngIf="error === true" class="error_block">Fill All Fields Please</div>
    </form>
  </div>
</div>



